{% extends '::base.html.twig' %}

 {% block body %}

	<form action="{{ url('ant_photo_rest_vote_create') }}" {{ form_enctype(form) }} method="post">
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>

{% endblock %}